:root {
  --primary-color: #047aed;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 1005;
}
/*navbar*/
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}
.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}
